h5.text-warning {
  color: #af3531!important;
}
select {
  background-color: gainsboro;
}
li {
    background-color: gainsboro;
    border: none;

    &.active {
        background-color:crimson;
    }
}
input {
  background-color: #fafbfdcf;
}


