/* You can add global styles to this file, and also import other style files */
body {
  background-color: #6c757dcc;
}
.page-item .page-link{
    color: crimson;
}
.page-item.active .page-link {
  background-color: crimson;
  border: none;
}
