<carousel>
  <slide>
    <img src="assets/images/chef1.jpg" alt="Waiter serving customers" style="display: block; width: 100%;" />
  </slide>
  <slide>
    <img src="assets/images/cooking-chef.jpg" alt="Chef cooking" style="display: block; width: 100%;" />
  </slide>
  <slide>
    <img src="assets/images/chinese-food.jpg" alt="Chinese food" style="display: block; width: 100%;" />
  </slide>
  <slide>
    <img src="assets/images/truffle.jpg" alt="Truffle plate" style="display: block; width: 100%;" />
  </slide>
  <slide>
    <img src="assets/images/pancakes2.jpg" alt="Pancakes plate" style="display: block; width: 100%;" />
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Enjoy our food!</h1>
  </div>
</section>
